<div class="col-sm-12 text-center mt-2 alert alert-primary">
    <small class="text-muted ml-2 mt-0">
        <a href="{{ url_for('about')}}"> About Author </a> ||
        <a href="{{ url_for('privacy')}} "> Privacy Policy </a> ||
        <a href="{{ url_for('disclaimer')}}"> Disclaimer </a> ||
        <a href="{{ url_for('terms')}}"> Terms & Condition </a> || 
        <a href="{{ url_for('refund')}}"> Refunds </a> || 
        <a href="{{ url_for('terms')}}"> Copy Rights </a> <br>
    </small>
</div>
<div class="col-sm-12 text-center alert alert-light mb-0">
    <small> Design & Develop By : Jaswinder Singh +91-98037-00470, +91-81463-87777 E-Mail : haanzee@gmail.com </small>
</div>
